In [1]:
import pandas as pd
df=pd.read_csv("insurance_churn.csv")
display(df)

,customer_id,age,gender,tenure_months,monthly_premium,past_claims_count,missed_payments_12m,risk_score,churn_flag
0,CUST_001672,70,Female,178,222.37,0,1,70.0,0
1,CUST_007800,53,Female,139,746.88,2,0,74.0,0
2,CUST_002614,32,Female,205,1282.70,2,1,42.0,0
3,CUST_003411,24,Female,4,2210.51,1,1,61.0,1
4,CUST_010302,26,Male,143,1654.00,1,1,48.0,0
...,...,...,...,...,...,...,...,...,...
995,CUST_005918,59,Female,37,3506.01,0,0,66.0,0
996,CUST_001008,64,Female,143,3107.79,0,1,60.0,0
997,CUST_001404,46,Male,145,210.49,1,0,63.0,0
998,CUST_011984,56,Female,74,860.16,0,0,57.0,1
999,CUST_002643,25,Female,220,2247.18,2,0,55.0,0

In [4]:
df_highriskscore = df[df['risk_score']>=70]
display(df_highriskscore)

,customer_id,age,gender,tenure_months,monthly_premium,past_claims_count,missed_payments_12m,risk_score,churn_flag
0,CUST_001672,70,Female,178,222.37,0,1,70.0,0
1,CUST_007800,53,Female,139,746.88,2,0,74.0,0
7,CUST_007579,61,Female,120,746.57,0,0,78.0,0
9,CUST_006364,48,Female,27,3196.38,3,2,70.0,0
13,CUST_010129,58,Female,9,355.04,0,0,75.0,0
...,...,...,...,...,...,...,...,...,...
964,CUST_010154,68,Female,98,3389.15,2,0,76.0,0
969,CUST_011993,74,Male,25,2872.96,1,0,74.0,0
970,CUST_001708,73,Male,50,607.64,1,2,80.0,0
981,CUST_002495,70,Female,58,2354.92,1,0,75.0,0
987,CUST_000647,70,Female,58,2354.62,2,0,72.0,1